nav {
  width: 100%;
  background-color: #aa0000;
  margin: 1px;
}

nav .menu ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
}

nav .menu ul li {
  position: relative;
  text-align: center;
  padding-top: 10px;
}

nav .menu ul li a {
  padding-top: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

nav .menu ul li a:hover {
  color: #020000;
}

nav .menu ul .dropdown:hover .dropdown-menu {
  display: block;
  z-index: 10;

}

nav .menu ul .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #aa0000;
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  width: 90px;
  height: auto;
}

nav .menu ul .dropdown .dropdown-menu li a {
  padding: 5px;
  color: white;
  font-size: 16px;
  text-align: left;
}

nav .menu ul .dropdown .dropdown-menu li a:hover {
  color: #000000;
}

nav .menu ul .search-icon input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

nav .menu ul .search-icon label {
  cursor: pointer;
}

nav .menu ul .Timkiem {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}

nav .menu ul .Timkiem input {
  padding: 7px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

nav .menu ul .search-icon input[type="checkbox"]:checked + label + .Timkiem {
  display: flex;
}
